# Python virtual environments
.venv*
venv/
env/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Environment variables and secrets
.env

# OS files
.DS_Store

# FastAPI app cache and compiled files
backend/__pycache__/



# Jupyter and notebook checkpoints
.ipynb_checkpoints/

# datasets file too big
dataset/veneto_events.json
dataset/veneto_events_geocoded_structured.json

# docs
docs/old/

# notebooks for local utility
notebooks/00_utility.ipynb
notebooks/04_scraping.ipynb