fastapi==0.116.1
fastembed==0.7.3
geopandas==1.1.1
httpx==0.28.1
numpy==2.3.2
openrouteservice==2.3.3
pydantic==2.11.7
python-dotenv==1.1.1
Shapely==2.1.1
tqdm==4.67.1
uvicorn[standard]
qdrant_client
python-multipart
orjson
crewai==0.175.0
beautifulsoup4
